@font-face {
  /* installed font */
  font-family: myFirstFont;
  src: url(./resources/Baloo-Regular.ttf);
}

.App {
  width: 100%;
}

.answer{
  transition: 0.5s;
  box-shadow: 0px 0px 27px -10px rgba(0,0,0,0.49);
  padding: 10px;
  background-color: white
}

.answercorrect {
  transition: 0.5s;
   box-shadow: 0px 0px 27px -10px rgba(0,0,0,0.49);
  padding: 10px;
  background-color: #8bd66d
}

.answerfalse {
  transition: 0.5s;
   box-shadow: 0px 0px 27px -10px rgba(0,0,0,0.49);
  padding: 10px;
  background-color: #e26161
}

.confetti{
  z-index: -1!important;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #70c6ff;
  margin: 0px;
  padding: 0px;
}

.container {
  margin: auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.selectedfalse {
  transition: 0.5s; 
  padding: 5px;
  margin: 5px;
  background-color: #e26161;
}

.selectedtrue {
  transition: 0.5s;
  padding: 5px;
  margin: 5px;
  background-color: #8bd66d;
}

.unselected {
  transition: 0.5s;
  padding: 5px;
  margin: 5px;
}

#appheader h3 {
  font-size: 25pt;
  color: #e26161;
  font-family: myFirstFont;
  display: inline-block;
  margin-top: 20px;
}

#appheader {
  width: 100%;
  display: table;
  background-color: white;
  border-bottom: 5px solid #e26161;
  margin-bottom: 50px;
}

#appheader img {
  float: left;
  margin: 20px;

  max-width: 50px;
  max-height: 50px;
}

.footerimg {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: auto;
  max-width: 700px;
  max-height: 700px;
  z-index: -1;
  /* background-image: url("./resources/footer.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; */
  /* height: 20%;
    width: 100%; */
}

h2 {
  font-family: "source sans pro";
}

@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  /* .footerimg {
      display: none;
    } */

  #appheader h1 {
    font-size: 20pt;
    text-align: center;
    color: red;
  }

  #appheader img {
    display: inline;
    margin: auto;
  }
}

@media screen and (max-width: 1000px) {
  .footerimg {
    margin-top: 50px;
    position: relative;
    max-width: auto;
    max-height: auto;
  }
}
